name: Tests

# Defines environmental variables
env:
  GO_VERSION: '1.22.2'

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    
  
    # Setup Go
    - name: Setup Go
      uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
      with:
        go-version: "${{ env.GO_VERSION }}" 
    - name: Go fmt
      run: go fmt ./...
    - name: Build and Run
      run: |
        go build -o validate main.go
        ./validate 
    - name: Test with the Go CLI
      run: go test
